.popup{
  background-color: black;
  position:relative;
  width: 470px;
  height: 370px;
  display        : flex;
flex-direction : column;
justify-content: space-between;
}

@media screen and (max-width: 594px) {
  .popup {
    width: 90%;
     margin: auto;
 width : 308px;
 height: 378px;
  }
}