.container-card{
  height: fit-content;
  display              : grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap              : 1.25rem;
  column-gap           : 1.125rem;
  padding-bottom: 100px;
}

@media screen and (max-width: 886px) {
  .container-card{
    grid-template-columns: 1fr 1fr;
    margin               : auto;
    justify-content      : center;
    align-items          : center;
  }
}

@media screen and (max-width: 589px) {
  .container-card{
    grid-template-columns: 1fr;
    margin               : auto;
    justify-content      : center;
    align-items          : center;
  }
}