.header {
  display:flex;
  width      : 890px;
  padding-top: 45px;
  margin: auto;
}

@media screen and (max-width: 899px) {
  .header {
    padding-top: 45px;
    width: 551px;
  }


}

@media screen and (max-width: 812px) {
  .header {
    padding-top: 45px;
    width      : 282px;

  }


}

