.root{
  position: relative;
  background-color: var(--color-background-primary);
  width       : 100vw;
  box-sizing      : border-box;
  font-family     : 'Inter',
    sans-serif;
}

@media screen and (max-width:812px){
  .root{
    width: 812px;
  }
}